<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Galería </title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/lightbox-galeria.css">

</head>
<body>
    <header>
        <div class="contenedor-navbar">
            <img class="logo" src="../images/logo-tenis.png" alt="Logo de la federación de tenis">
            <nav class="nav-links">
                <a href="../index.html" id="index"> Inicio </a>
                <a href="./galeria.html"> Galería </a>
                <a href="./presupuesto.html"> Presupuesto </a>
                <a href="./contacto.html"> Contacto </a>
            </nav>
        </div>
    </header>
    <!-- Galeria de imagenes con el ranking del top 50 de mejores tenistas del momento, donde se puede pulsar en cada imagen y que aprezca más en grande e ir cambiando desde ahí -->
    <section class="contenedor-galeria">
        <div class="titulo-galeria">
            <h1> Ranking ATP </h1>
            <h3> Tenistas que ocupan actualmente el top 50 del ranking individual masculino </h3>
        </div>
        <div class="contenido-galeria"> 
            <a href="../images/sinner.jpg" data-lightbox="galeria" data-title="Jannick Sinner - Número 1"><img src="../images/sinner.jpg" class="image" alt="Jannick Sinner"></a>
            <a href="../images/zverev.jpg" data-lightbox="galeria" data-title="Alexander Zverev - Número 2"><img src="../images/zverev.jpg" class="image" alt="Alexander Zverev"></a>
            <a href="../images/alcaraz.jpg" data-lightbox="galeria" data-title="Carlos Alcaraz - Número 3"><img src="../images/alcaraz.jpg" class="image" alt="Carlos Alcaraz"></a>
            <a href="../images/fritz.jpg" data-lightbox="galeria" data-title="Taylor Fritz - Número 4"><img src="../images/fritz.jpg" class="image" alt="Taylor Fritz"></a>
            <a href="../images/djokovic.jpg" data-lightbox="galeria" data-title="Novak Djokovic - Número 5"><img src="../images/djokovic.jpg" class="image" alt="Novak Djokovic"></a>
            <a href="../images/ruud.jpg" data-lightbox="galeria" data-title="Casper Ruud - Número 6"><img src="../images/ruud.jpg" class="image" alt="Casper Ruud"></a>
            <a href="../images/draper.jpg" data-lightbox="galeria" data-title="Jack Draper - Número 7"><img src="../images/draper.jpg" class="image" alt="Jack Draper"></a>
            <a href="../images/medvedev.jpg" data-lightbox="galeria" data-title="Daniil Medvedev - Número 8"><img src="../images/medvedev.jpg" class="image" alt="Daniil Medvedev"></a>
            <a href="../images/rublev.jpg" data-lightbox="galeria" data-title="Andrey Rublev - Número 9"><img src="../images/rublev.jpg" class="image" alt="Andrey Rublev"></a>
            <a href="../images/tsitsipas.jpg" data-lightbox="galeria" data-title="Stefanos Tsitsipas - Número 10"><img src="../images/tsitsipas.jpg" class="image" alt="Stefanos Tsitsipas"></a>
            <a href="../images/deminaur.jpg" data-lightbox="galeria" data-title="Alex de Miñaur - Número 11"><img src="../images/deminaur.jpg" class="image" alt="Alex de Miñaur"></a>
            <a href="../images/rune.jpg" data-lightbox="galeria" data-title="Holger Rune - Número 12"><img src="../images/rune.jpg" class="image" alt="Holger Rune"></a>
            <a href="../images/paul.jpg" data-lightbox="galeria" data-title="Tommy Paul - Número 13"><img src="../images/paul.jpg" class="image" alt="Tommy Paul"></a>
            <a href="../images/shelton.jpg" data-lightbox="galeria" data-title="Ben Shelton - Número 14"><img src="../images/shelton.jpg" class="image" alt="Ben Shelton"></a>
            <a href="../images/dimitrov.jpg" data-lightbox="galeria" data-title="Grigor Dimitrov - Número 15"><img src="../images/dimitrov.jpg" class="image" alt="Grigor Dimitrov"></a>
            <a href="../images/musetti.jpg" data-lightbox="galeria" data-title="Lorenzo Musetti - Número 16"><img src="../images/musetti.jpg" class="image" alt="Lorenzo Musetti"></a>
            <a href="../images/tiafoe.jpg" data-lightbox="galeria" data-title="Frances Tiafoe - Número 17"><img src="../images/tiafoe.jpg" class="image" alt="Frances Tiafoe"></a>
            <a href="../images/fils.jpg" data-lightbox="galeria" data-title="Arthur Fils - Número 18"><img src="../images/fils.jpg" class="image" alt="Arthur Fils"></a>
            <a href="../images/augeraliassime.jpg" data-lightbox="galeria" data-title="Felix Auger-Aliassime - Número 19"><img src="../images/augeraliassime.jpg" class="image" alt="Felix Auger-Aliassime"></a>
            <a href="../images/humbert.jpg" data-lightbox="galeria" data-title="Ugo Humbert - Número 20"><img src="../images/humbert.jpg" class="image" alt="Ugo Humbert"></a>
            <a href="../images/machac.jpg" data-lightbox="galeria" data-title="Tomas Machac - Número 21"><img src="../images/machac.jpg" class="image" alt="Tomas Machac"></a>
            <a href="../images/hurkacz.jpg" data-lightbox="galeria" data-title="Hubert Hurkacz - Número 22"><img src="../images/hurkacz.jpg" class="image" alt="Hubert Hurkacz"></a>
            <a href="../images/khachanov.jpg" data-lightbox="galeria" data-title="Karen Khachanov - Número 23"><img src="../images/khachanov.jpg" class="image" alt="Karen Khachanov"></a>
            <a href="../images/cerundolo.jpg" data-lightbox="galeria" data-title="Francisco Cerundolo - Número 24"><img src="../images/cerundolo.jpg" class="image" alt="Francisco Cerundolo"></a>
            <a href="../images/korda.jpg" data-lightbox="galeria" data-title="Sebastian Korda - Número 25"><img src="../images/korda.jpg" class="image" alt="Sebastian Korda"></a>
            <a href="../images/popyrin.jpg" data-lightbox="galeria" data-title="Alexei Popyrin - Número 26"><img src="../images/popyrin.jpg" class="image" alt="Alexei Popyrin"></a>
            <a href="../images/lehecka.jpg" data-lightbox="galeria" data-title="Jiri Lehecka - Número 27"><img src="../images/lehecka.jpg" class="image" alt="Jiri Lehecka"></a>
            <a href="../images/shapovalov.jpg" data-lightbox="galeria" data-title="Denis Shapovalov - Número 28"><img src="../images/shapovalov.jpg" class="image" alt="Denis Shapovalov"></a>
            <a href="../images/perricad.jpg" data-lightbox="galeria" data-title="Giovanni Perricad - Número 29"><img src="../images/perricad.jpg" class="image" alt="Giovanni Perricad"></a>
            <a href="../images/berrettini.jpg" data-lightbox="galeria" data-title="Matteo Berrettini - Número 30"><img src="../images/berrettini.jpg" class="image" alt="Matteo Berrettini"></a>
            <a href="../images/tabilo.jpg" data-lightbox="galeria" data-title="Alejandro Tabilo - Número 31"><img src="../images/tabilo.jpg" class="image" alt="Alejandro Tabilo"></a>
            <a href="../images/nakashima.jpg" data-lightbox="galeria" data-title="Brandon Nakashima - Número 32"><img src="../images/nakashima.jpg" class="image" alt="Brandon Nakashima"></a>
            <a href="../images/michelsen.jpg" data-lightbox="galeria" data-title="Alex Michelsen - Número 33"><img src="../images/michelsen.jpg" class="image" alt="Alex Michelsen"></a>
            <a href="../images/griekspoor.jpg" data-lightbox="galeria" data-title="Tallon Griekspoor - Número 34"><img src="../images/griekspoor.jpg" class="image" alt="Tallon Griekspoor"></a>
            <a href="../images/arnaldi.jpg" data-lightbox="galeria" data-title="Matteo Arnaldi - Número 35"><img src="../images/arnaldi.jpg" class="image" alt="Matteo Arnaldi"></a>
            <a href="../images/baez.jpg" data-lightbox="galeria" data-title="Sebastian Baez - Número 36"><img src="../images/baez.jpg" class="image" alt="Sebastian Baez"></a>
            <a href="../images/thompson.jpg" data-lightbox="galeria" data-title="Jordan Thompson - Número 37"><img src="../images/thompson.jpg" class="image" alt="Jordan Thompson"></a>
            <a href="../images/sonego.jpg" data-lightbox="galeria" data-title="Lorenzo Sonego - Número 38"><img src="../images/sonego.jpg" class="image" alt="Lorenzo Sonego"></a>
            <a href="../images/davidovich.jpg" data-lightbox="galeria" data-title="Alejandro Davidovich - Número 39"><img src="../images/davidovich.jpg" class="image" alt="Alejandro Davidovich"></a>
            <a href="../images/pedromartinez.jpg" data-lightbox="galeria" data-title="Pedro Martinez - Número 40"><img src="../images/pedromartinez.jpg" class="image" alt="Pedro Martinez"></a>
            <a href="../images/muller.jpg" data-lightbox="galeria" data-title="Alexandre Muller - Número 41"><img src="../images/muller.jpg" class="image" alt="Alexandre Muller"></a>
            <a href="../images/borges.jpg" data-lightbox="galeria" data-title="Nuno Borges - Número 42"><img src="../images/borges.jpg" class="image" alt="Nuno Borges"></a>
            <a href="../images/cobolli.jpg" data-lightbox="galeria" data-title="Flavio Cobolli - Número 43"><img src="../images/cobolli.jpg" class="image" alt="Flavio Cobolli"></a>
            <a href="../images/etcheverry.jpg" data-lightbox="galeria" data-title="Tomas Etcheverry - Número 44"><img src="../images/etcheverry.jpg" class="image" alt="Tomas Etcheverry"></a>
            <a href="../images/giron.jpg" data-lightbox="galeria" data-title="Marcos Giron - Número 45"><img src="../images/giron.jpg" class="image" alt="Marcos Giron"></a>
            <a href="../images/monfils.jpg" data-lightbox="galeria" data-title="Gael Monfils - Número 46"><img src="../images/monfils.jpg" class="image" alt="Gael Monfils"></a>
            <a href="../images/jarry.jpg" data-lightbox="galeria" data-title="Nicolas Jarry - Número 47"><img src="../images/jarry.jpg" class="image" alt="Nicolas Jarry"></a>
            <a href="../images/kecmanovic.jpg" data-lightbox="galeria" data-title="Miomir Kecmanovic - Número 48"><img src="../images/kecmanovic.jpg" class="image" alt="Miomir Kecmanovic"></a>
            <a href="../images/struff.jpg" data-lightbox="galeria" data-title="Jan-Lennard Struff - Número 49"><img src="../images/struff.jpg" class="image" alt="Jan-Lennard Struff"></a>
            <a href="../images/bautista.jpg" data-lightbox="galeria" data-title="Roberto Bautista - Número 50"><img src="../images/bautista.jpg" class="image" alt="Roberto Bautista"></a>
        </div>
    </section> 
    <footer>
        <p> Domicilio social: Gran Vía de Carles III, 124. 08034 Barcelona. <br> <br> &copy; Queda prohibida la reproducción total o parcial del contenido sin autorización expresa de la Federación Internacional de Tenis. <br><br> Siguenos en: <br><br></p>
        <a href="https://x.com/ITFTennis_es?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
            <img src="../images/x.png" class="logos-redes"  alt="Logo de X">
        </a>
        <a href="https://www.facebook.com/InternationalTennisFederation/?locale=es_ES">
            <img src="../images/facebook.png" class="logos-redes"  alt="Logo de Facebook">
        </a>
        <a href="https://www.instagram.com/itftennis_es/">
            <img src="../images/instagram.png" class="logos-redes" alt="Logo de Instagram">
        </a>
        <a href="https://www.youtube.com/channel/UCsyvlpbK0BTEc3jec6nhPyQ">
            <img src="../images/youtube.png" class="logo-Youtube"  alt="Logo de Youtube">
        </a>
    </footer>


    <script src ="../js/script.js"></script>
    <script src="../js/lightbox-galeria.js"></script>
    <script src="../js/galeria.js"></script>
</body>
</html>